requests
python-dotenv
pillow

colorama

fastapi
uvicorn
jinja2
python-multipart

sqlalchemy
pyodbc

# Pour les tests - pas besoin pour l'image...
#pytest
#webdriver-manager
#selenium

#azure-ai-vision-imageanalysis