<html>
    <header>
        <title>Appli OCR</title>
    </header>
    <body>
        <h1>Application d'OCR, </h1>

        Factures (total<>cumul): {%for f in factures%}<a href="/?no={{f.no}}">{{f.no}}</a>, {%endfor%}<br/><hr/>

        <h1>{{fac}}, cumul: {{fac.cumul}}€</h1>
        client: {{fac.client}}, cat <b>{{fac.client.cat}}</b></b><br/>
        commandes : <ul/>{%for c in fac.commandes%}<li>{{c}}</li>{%endfor%}</ul>
        Autre factures: {%for f in fac.client.factures%}<a href="/?no={{f.no}}">{{f.no}}</a>, {%endfor%}<br/>

        <table>
            <tr>
                <td><img src="https://invoiceocrp3.azurewebsites.net/invoices/{{fac.no}}"/></td>
                <td style="vertical-align:top">
                    QR:<pre>{{fac.txt_qr}}</pre>
                    OCR:<pre>{{fac.txt_ocr}}</pre>

                    <a href="/vision?no={{fac.no}}">Vision</a>:<pre>{{fac.txt_vision}}</pre>
                </td>
            </tr>
        </table>

    </body>
</html>